@media only screen and (max-width: 500px) {
    .container{
        padding-top: 0px !important;
    }
    .card{
        padding: 14px !important;
    }
    h1{
        font-size: 54px !important;
        width: 260px;
        margin-top: 18px;
        margin-bottom: 32px;
    }
    h3{
        color: #ea4fe0 !important;
    }
    .ajakan{
        font-size: 16px !important;
    }
    .need{
        padding: 0 24px;
    }
    .need h2{
        font-size: 32px !important;
    }
    p{
        font-size: 16px !important;
    }
    .need::before{
        display: none !important;
    }
    .recruitment{
        padding: 0 24px;
    }
    .recruitment h2{
        font-size: 40px !important;
    }
    .recruitment img{
        width: 100%;
    }
    .about{
        padding: 0 24px;
    }
    .about h2{
        font-size: 48px !important;
        margin-bottom: 0 !important;
    }
}