@media only screen and (max-width: 500px) {
    .container{
        padding-top: 0px !important;
    }
    .card{
        padding: 14px !important;
    }
    h1{
        font-size: 54px !important;
        width: 260px;
        margin-top: 18px;
        margin-bottom: 32px;
    }
    h3{
        color: #ea4fe0 !important;
    }
    .ajakan{
        font-size: 16px !important;
    }
}