body{
    background: #0B1026;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    color: white;
    margin: 0;
}

h1{
    font-weight: 800;
}

h2{
    font-weight: 800;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #FD9B4E;
border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #e68840;
}

.header, .recruitment{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    width: 238px;
    height: 238px;
    top: -71px;
    right: -110px;
    border-radius: 100%;
    background: linear-gradient(44.06deg, #5451F9 27.19%, rgba(255, 255, 255, 0) 69.72%), #AE36EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-card{
    background: rgba(23, 26, 69, 0.81);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.faq h3{
    color: #E1DBFF !important;
    font-weight: bold;
    text-shadow: 0px 4px 4px #282074;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

.faq .nav-pills .nav-link{
    color: white;
    position: relative;
}
.faq .nav-pills .nav-link::after{
    content: '';
    position: absolute;
    color: white;
    width: 0%;
    height: 2px;
    background-color: #FD9B4E;
    left: 4px;
    bottom: 0;
    transition: width .3s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
.nav-pills .nav-link.active::after{
    width: 100%;
}
.faq .nav-pills .nav-link:hover{
    color: rgb(224, 224, 224);
}

.question-wrapper {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-card h1, .req h2, .footer h2, .recruitment h2, .about h2,.benefit h2, .faq h2{
    color: #E1DBFF;
    font-size: 66px;
    text-shadow: 0px 4px 4px #282074;
    position: relative;
    z-index: 1;
}
.faq h2{
    font-size: 2.2rem;
}
.header-card h1::before , .req h2::before, .footer h2::before, .recruitment h2::before, .about h2::before, .benefit h2::before, .faq h2::before{
    content: '';
    position: absolute;
    width: 142px;
    height: 45px;
    background: linear-gradient(179.09deg, #BF48EE 29.36%, rgba(255, 255, 255, 0) 99.22%), #FD47D8;
    z-index: -1;
    left: -10px;
}

.header-card h1::after, .req h2::after, .footer h2::after, .recruitment h2::after, .about h2::after, .benefit h2::after, .faq h2::after{
    content: '';
    position: absolute;
    width: 141px;
    height: 41px;
    background: linear-gradient(179.09deg, #51E9F2 29.36%, rgba(255, 255, 255, 0) 97.98%), #007D56;
    z-index: -1;
    right: 70px;
    bottom: 0;
}
.header-card h3{
    font-weight: 800;
    color: #593BFF;
    font-size: 33px;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
}

.header-card p, .req p{
    font-size: 18px;
    color: #FFFFFF;
}

.btn{
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-blue-1{
    background: #0496F8;
    border: 1px solid #0496F8;
    color: white;
}

.btn-orange-gradient{
    background: linear-gradient(90deg, rgba(249, 191, 53, 0.63) 45.43%, rgba(255, 255, 255, 0) 84.92%), #FD7F28;
    color: white;
}

.btn-orange{
    background: #FD9B4E;
    color: white;
}

.container-100 {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.need {
    position: relative;
    overflow: hidden;
    padding-top: 73px;
}
.need::before {
    content: '';
    position: absolute;
    width: 948px;
    height: 283px;
    border-radius: 100%;
    right: -360px;
    top: 80px;
    border: 30px solid #9CFFF4;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 25px #48D5C5);
    transform: rotate(-180deg);
}
.need::after{
    content: '';
    position: absolute;
    width: 553px;
    height: 348px;
    top: 380px;
    left: -380px;
    border-radius: 100%;
    border: 30px solid #593BFD;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 25px #9481FF);
    transform: rotate(-90deg);
    z-index: -1;
}

.about, .recruitment, .faq{
    position: relative;
}

.faq-wrapper {
    background: #0b1026d9;
    border-radius: 20px;
}

.benefit .img{
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 25px;
    overflow: hidden;
}

.benefit .benefit-item{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background: #0F183C;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.footer .container, .recruitment .container, .about .container, .benefit .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-body .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Pajangan */

.lingkaran-ungu {
    position: absolute;
    z-index: -1;
    bottom: 370px;
    left: -130px;
}

.segitiga-ungu {
    position: absolute;
    margin-top: -140px;
    left: -140px;
}

.text-orange{
    color: #FD9B4E;
}

.liquid1{
    position: absolute;
    top: -490px;
}

.lingkaran-1 {
    position: absolute;
    z-index: -1;
    top: 420px;
    left: -70px;
}
.lingkaran-2 {
    position: absolute;
    margin-left: 80px;
    margin-top: -40px;
}
.lingkaran-3 {
    position: absolute;
    right: -80px;
    top: -110px;
}
.lingkaran-4 {
    position: absolute;
    z-index: 2;
    margin-left: 430px;
    margin-top: 30px;
}

.segienam-biru {
    position: absolute;
    right: 0;
    bottom: -310px;
}

.about::after {
    content: '';
    position: absolute;
    background: url(../../Asset/img/1.png) no-repeat;
    width: 409px;
    height: 620px;
    top: 320px;
    left: -110px;
}

.recruitment::after {
    content: '';
    position: absolute;
    background: url(../img/3.png);
    width: 560px;
    height: 1353px;
    top: 0;
    right: -20px;
    z-index: -1;
}
.faq::after {
    content: '';
    position: absolute;
    background: url(../img/2.png);
    width: 710px;
    height: 885px;
    bottom: -70px;
    right: 0;
    z-index: -1;
}
/* Akhir Pajangan */


/* Responsive */

@media (max-width:576px){
    .header-card h1::after, .req h2::after, .footer h2::after, .header-card h1::before , 
    .req h2::before, .footer h2::before, .recruitment h2::before , .recruitment h2::after,
     .about h2::before , .about h2::after, .benefit h2::after, .benefit h2::before, .faq h2::after, .faq h2::before{
        display: none;
    }
    .nav-link {
        padding: .5rem .5rem;
    }
}

@media (min-width: 576px) { 
    .header-card h1, .req h2, .footer h2, .faq h2{
        font-size: 2.2rem;
    }
    .faq h3{
        font-size: 2.1rem;
    }
    .header-card h1::after, .req h2::after, .footer h2::after, .header-card h1::before ,
     .req h2::before, .footer h2::before, .recruitment h2::before , .recruitment h2::after,
      .about h2::before , .about h2::after, .benefit h2::after, .benefit h2::before, .faq h2::after, .faq h2::before{
        display: none;
    }
    .container-100 {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .nav-link {
        padding: .5rem .5rem;
    }
 }


@media (min-width: 768px) { 
    .header-card h1, .req h2, .footer h2, .recruitment h2, .faq h2{
        font-size: 2.8rem;
    }
    .faq h3{
        font-size: 2.2rem;
    }
 }


@media (min-width: 992px) { 
    .header-card h1, .req h2, .footer h2, .recruitment h2{
        font-size: 3.8rem;
    }
    .header-card h1::after, .req h2::after, .footer h2::after, .header-card h1::before , .req h2::before,
    .footer h2::before, .recruitment h2::before , .recruitment h2::after, .about h2::before , .about h2::after,
    .benefit h2::after, .benefit h2::before, .faq h2::after, .faq h2::before{
        display: block;
    }
    .brand {
        width: 140px;
    }
    .card-body .wrapper{
        display: block;
    }
 }


@media (min-width: 1200px) { 
    .header-card h1, .req h2, .footer h2, .recruitment h2, .about h2, .benefit h2, .faq h2{
        font-size: 4.2rem;
    }
    .faq h3{
        font-size: 2.6rem;
    }
    .container-100 {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
 }